{% extends "main.html" %}

{% block content %}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 3fr 3fr;
    }
</style>
<div class="home-container">
    <h1> Edit your profile </h1>

    <p></p>

    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}:
                {{ field }}
                <p></p>
            {% endfor %}
            <input type="submit" value="Edit account">
        </form>
    </div>
    <div>
        {{ profile.name }}

        <br>
        <small>@{{ profile.username }}</small>

        <br>
        <img style="max-width: 200px;" src="{{ profile.profile_image.url }}" alt="">

        <br>
        {% if profile.short_info %}
            {{ profile.short_info }}
        {% endif %}

        <br>
        {% if profile.location %}
            {{ profile.location }}
        {% endif %}

        <br>
        {{ profile.email }}

        <br>
        {% if profile.website %}
            <a  href="{{ profile.website }}">Website</a> 
        {% endif %}
        <hr style="border: 3px solid;">



        <!-- POSTS -->
        {% for post in posts %}
        <a href="{% url 'profile' post.owner.id %}">
            <img style="max-width: 40px; border-radius: 50%;" src="{{ post.owner.profile_image.url }}" alt="">
            {{ post.owner.name }}
        </a>
        <br>
        <small>@{{ post.owner.username }}</small>
        
        {{ post.created | timesince }}
        <br>
        <a href="{% url 'post_comments' post.id %}">{{ post.body}}</a>
        
        {% if post.post_image %}
        <br>
        <br>
        <a href="{% url 'post_comments' post.id %}">
            <img style="max-width: 200px;" src="{{ post.post_image.url }}" alt="">
        </a>
        {% endif %}
        
        <!--TODO likes -->
        <br>
        <a href="{% url 'delete_post' post.id  %}">Delete</a>
        
        <hr>
        
        {% endfor %}
        
    </div> 
</div>
{% endblock content %}