{% extends "main.html" %}

{% block content %}

    {% if page == "register" %}

        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="formInput#text">{{ field.label }}: </label>
                {{ field }}
                
                {% for error in field.errors %}
                    <small style="color: red;">{{ error }}</small>           
                {% endfor %}
            <p></p>
            {% endfor %}
            <input type="Submit" value="Register">
            <p>Already registered?</p>
            <a href="{% url 'login' %}">Login</a>
        </form>



    {% else %}
        <h1>Login</h1>

        <form action="" method="post">
            {% csrf_token %}

            <small>Username:</small>
            <input type="text" name="username" placeholder="Username...">
            <small>Password:</small>
            <input type="password" name="password" placeholder="Password...">
            <input type="Submit" value="Login">
            <p>Not registered yet?</p>
            <a href="{% url 'register' %}">Register now</a>
            <p></p>
            <a href="{% url 'reset_password' %}">Forgot your password?</a>

        </form>

    {% endif %}




{% endblock content %}