{% extends "main.html" %}

{% block content %}

    <p></p>
    <strong>{{ profile.name }}</strong>

    <br>
    <small>@{{ profile.username }}</small>
    <br>
    
    
    {% if profile.user in request.user.profile.following.all %}
        <a href="{% url 'unfollowing' profile.id %}?next={{request.path}}">Unfollow</a>
    {% else %}
        <a href="{% url 'following' profile.id %}?next={{request.path}}">Follow</a>
    {% endif %}

    <br>
    <a href="{% url 'following_users' profile.id %}">{{ profile.following.all.count }} Following</a> 
    <a href="{% url 'followers_users' profile.id %}">{{ profile.followers.all.count }} Followers</a>
    
    <br>
    <img style="max-width: 200px;" src="{{ profile.profile_image.url }}" alt="">

    <br>
    {% if profile.short_info %}
        {{ profile.short_info }}
    {% endif %}

    <br>
    {% if profile.location %}
        {{ profile.location }}
    {% endif %}

    <br>
    {{ profile.email }}

    <br>
    {% if profile.website %}
        <a href="{{ profile.short_info }}">Website</a>
    {% endif %}

    <hr style="border: 3px solid;">

    <h2>Posts:</h2>
    {% include 'post.html' with posts=posts %}

    <h2>Comments:</h2>
    {% include 'comments.html' with comments=comments %}
    

{% endblock content %}