{% extends "main.html" %}

{% block content %}

    <p></p>
    <strong>{{ profile.name }}</strong>

    <br>
    <small>@{{ profile.username }}</small>

    <br>
    <img style="max-width: 200px;" src="{{ profile.profile_image.url }}" alt="">

    <br>
    {% if profile.short_info %}
        {{ profile.short_info }}
    {% endif %}

    <br>
    {% if profile.location %}
        {{ profile.location }}
    {% endif %}

    <br>
    {{ profile.email }}

    <br>
    {% if profile.website %}
        <a href="{{ profile.short_info }}">Website</a>
    {% endif %}

    <hr style="border: 3px solid;">


    {% include 'post.html' with posts=posts %}

{% endblock content %}