{% extends "main.html" %}

{% block content %}
    <style>
        .home-container{  
                display: grid;
                grid-template-columns: 3fr 3fr;
            }
    </style>


    <div class="home-container">


        <div>
            <form action="" method="GET">
                {% csrf_token %}
                <input type="text" name="search_query" placeholder="Search users" value="{{ search_query }}">
                <input type="submit" value="Search">
            </form>
            <h3>By clicking to user you will create new chat:</h3>
            {% for profile in profiles %}
                {% if profile == request.user.profile %}
                
                {% else %}
                    <img style="max-width: 40px; border-radius: 50%;" src="{{ profile.profile_image.url }}" alt="">
                    
                    <a href="{% url 'create_chat' profile.id %}">
                        {{profile.name}}
                        <br>
                    </a>
                    <a href="{% url 'create_chat' profile.id %}">
                        <small>@{{profile.username}}</small>
                        <hr>
                    </a>
                {% endif %}
            {% endfor %}
        </div>


        <div>

            {% for chat in chats %}
                
                {% if chat.chat_member_one == request.user.profile %}
                    <a href="{% url 'user_chat' chat.id %}">{{ chat.chat_member_two.name }} @{{ chat.chat_member_two.username }} chat</a>
                    {% for chat_member_two in chat.get_unread_messages|slice:":1"%}
                        {{ chat_member_two }} Unread messages                       
                    {% endfor %}
                    <br>
                {% else %}
                    <a href="{% url 'user_chat' chat.id %}">{{ chat.chat_member_one.name }} @{{ chat.chat_member_one.username }} chat</a> 
                    {% for chat_member_one in chat.get_unread_messages|slice:"1:"  %}
                        {{ chat_member_one }} Unread messages                
                    {% endfor %}
                    <br>
                {% endif %}
                
            {% endfor %}
        </div>
    </div>
{% endblock content %}