{% extends "main.html" %}

{% block content %}
{% load static %}

    <p><a href="{% url 'user_chats' request.user.profile.id %}">back button</a></p>

    <hr style="border: 3px solid;">
    <h2>Send message:</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label }}:
            {{ field }}
            <p></p>
        {% endfor %}
        <input type="submit" value="Twoot">
    </form>
    <hr style="border: 3px solid;">

    <div class="infinite-container">
        {% for message in chat_messages %}
            <div class="infinite-item">
                {{ message.owner }} <small>{{ message.created | timesince }}</small>
                <br>
                {{ message }}
                <br>
                {% if message.message_image %}
                    <img style="max-width: 200px;" src="{{ message.message_image.url }}" alt="">
                {% endif %}
                <hr>
            </div>
        {% endfor %}
    </div>




    
    {% if chat_messages.has_next %}
        <a class="infinite-more-link" href="?page={{ chat_messages.next_page_number }}">next</a>
    {% endif %}



    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="{% static 'js/scroll_pagination.js' %}"></script>
{% endblock content %}