{% extends "main.html" %}

{% block content %}

<h3><a href="{% url 'search' %}">Search</a></h3>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
    {{ field.label }}:
    {{ field }}
    <p></p>
    {% endfor %}
    <input type="submit" value="Twoot">
</form>



{% for post in posts %}

    <a href="{% url 'profile' post.owner.id %}">
        <img style="max-width: 30px;" src="{{ post.owner.profile_image.url }}" alt="">
        {{ post.owner.name }}
    </a>
    <br>
    <small>@{{ post.owner.username }}</small>

    {{ post.created | timesince }}
    <br>
    {{ post.body}}
    <hr>
    <!--TODO likes -->
    
{% endfor %}
{% endblock content %}