{% extends "main.html" %}

{% block content %}
{% load static %}
    <style>
        .home-container {
            display: grid;
            grid-template-columns: 3fr 1fr;
        }
    </style>

    <div class="home-container">
        <div>
        <a href="{% url 'posts' %}">Home</a>
        <br>
        <a href="{% url 'search' %}">Explore</a>
        <br>
        {% if request.user.is_authenticated %}
            <a href="{% url 'user_chats' request.user.profile.id %}">Messages</a>
            <br>
            <a href="{% url 'bookmark' %}">Bookmarks</a>
            <br>
            <a href="{% url 'account' request.user.profile.id %}">Profile</a>
            <br>
            <a href="{% url 'logout' %}">Logout</a>
            <br>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <br>
        {% endif %}
        
        
        <hr style="border: 3px solid;">
        {% if request.user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}:
                {{ field }}
                <p></p>
            {% endfor %}
            <input type="submit" value="Twoot">
        </form>
        <hr style="border: 3px solid;">
        {% endif %}

        <div class="infinite-container">
            {% if request.user.is_authenticated %}
                {% include 'post.html' with posts=posts bookmark=bookmark %}5
                {% if posts.has_next %}
                <a class="infinite-more-link" href="?page={{ posts.next_page_number }}">next</a>
                {% endif %}


            {% else %}

                {% for post in posts %}
                <div class="infinite-item">
                    
                    <a href="{% url 'profile' post.owner.id %}">
                        <img style="max-width: 40px; border-radius: 50%;" src="{{ post.owner.profile_image.url }}" alt="">
                        {{ post.owner.name }}
                    </a>
                    
                    <br>
                    <small>@{{ post.owner.username }}</small>
                
                    {{ post.created | timesince }}
                    <br>
                    <a href="{% url 'post_comments' post.id %}">{{ post.body}}</a>
                
                    {% if post.post_image %}
                    <br>
                    <br>
                    <a href="{% url 'post_comments' post.id %}">
                        <img style="max-width: 200px;" src="{{ post.post_image.url }}" alt="">
                    </a>
                    {% endif %}
                
                
                    {% if request.user.profile in post.like.all %}
                    <br>
                    {{ post.like.count }} <a href="{% url 'post_remove_like' post.id %}?next={{request.path}}">Remove like</a>
                    {% else %}
                    <br>
                    {{ post.like.count }} <a href="{% url 'post_like' post.id %}?next={{request.path}}">Like</a>
                    {% endif %}
                
                
                    {% if post in bookmark.post.all %}
                    <br>
                    <a href="{% url 'remove_post_from_bookmark' post.id %}?next={{request.path}}">Remove from bookmark</a>
                    {% else %}
                    <br>
                    <a href="{% url 'add_post_to_bookmark' post.id %}?next={{request.path}}">Add to bookmark</a>
                
                    {% endif %}
                
                    {% if request.user.profile == post.owner %}
                    <br>
                    <a href="{% url 'delete_post' post.id  %}?next={{request.path}}">Delete</a>
                    {% endif %}
                
                    <hr>
                </div>
                
                {% endfor %}
            {% endif %}
        </div>
        
        </div>

        <div>
            <h3>Trends for you:</h3>
            {% for topic in topics %}
            <a href="{% url 'topic' topic.id %}">#{{ topic.body }}</a>
            <hr>
            {% endfor %}
            <h3>Who to follow:</h3>
            {% for profile in profiles %}
                <img style="max-width: 40px; border-radius: 50%;" src="{{ profile.profile_image.url }}" alt="">
                
                <a href="{% url 'profile' profile.id %}">
                    {{profile.name}}
                    <br>
                </a>
                <a href="{% url 'profile' profile.id %}">
                    <small>@{{profile.username}}</small>
                    
                </a>
                <br>
                <strong><a href="{% url 'following' profile.id %}?next={{request.path}}">Follow</a></strong>
                <hr>
            {% endfor %}


        </div>

    </div>


    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
    <script src="{% static 'js/scroll_pagination.js' %}"></script>
{% endblock content %}