{% extends "main.html" %}

{% block content %}

    <form action="" method="GET">
        {% csrf_token %}
        <input type="text" name="search_query" placeholder="Search users" value="{{ search_query }}">
        <input type="submit" value="Search">
    </form>

    {% if search_query %}


        {% for profile in profiles %}
            <img style="max-width: 40px; border-radius: 50%;" src="{{ profile.profile_image.url }}" alt="">
            
            <a href="{% url 'profile' profile.id %}">
                {{profile.name}}
                <br>
            </a>
            <a href="{% url 'profile' profile.id %}">
                <small>@{{profile.username}}</small>
                <hr>
            </a>
        
        {% endfor %}

        

        {% include 'post.html' with posts=posts %}
    {% else %}

        {% for topic in topics %}
            <a href="{% url 'topic' topic.id %}">#{{ topic.body }}</a>
            <br>
        {% endfor %}

        
    {% endif %}
{% endblock content %}