{% extends "main.html" %}

{% block content %}
    <h1>{{ topic }}</h1>
    <strong>You can <a href="{% url 'posts' %}">create twoot</a> at this topic by including name of this topic in twoot message</strong>
    {% if posts %}
        <h2>Posts:</h2>
        {{ posts.count }} twoot{{ posts.count|pluralize:"s" }}
        <p></p>
        
        {% include 'post.html' with posts=posts %}
    {% else %}
    <br>
    <strong>There are no twoots in this topic yet.</strong>

    {% endif %}

    {% if comments %}
        <h2>Comments:</h2>
        {% include 'comments.html' with comments=comments %}
    {% endif %}
    

{% endblock content %}